@{
	Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<a href="/admin/new/post"><button class="new-post">New</button></a>
<div class="table">
	@foreach (var post in Model){
		<div class="row">
			<div class="cell">
				<input type="checkbox">
			</div>
			<div class="cell">
				@post.Title
			</div>
			
			<div class="cell control">
				<a href="/admin/edit/@post.Title.Replace(' ','-')">
					<button class="edit" post="@post.Title.Replace(' ','-')">Edit</button>
				</a>
			</div>
			<div class="cell control">
				<button class="delete" post="@post.Title.Replace(' ','-')">Delete</button>
			</div>
		</div>
	}
</div>

<style>
	.table{
		display:flex;
		flex-direction: column;
		width:100%;
	}
	.table .row{
		display:grid;
		grid-template-columns: auto 1fr 1fr 1fr;
		padding:5px 0px;
	}
	.table .row .cell.control{
		text-align: right;
	}
	.table .row:nth-child(2n+2){
		background: #eee;
	}
	.table a{
		text-decoration: none;
	}
</style>

<script>
	var deleteBtns = document.querySelectorAll(".delete");
	for (var deleteButton of deleteBtns) {
		deleteButton.onclick = function (ev) {
			console.log("del button clicked");
			fetch('admin/post/delete', {
				method: 'delete',
				body: JSON.stringify(deleteButton.getAttribute("post")),
				headers: new Headers({'content-type': 'application/json'})
			}).then((ev) => {
				console.log(ev);
			});
		}
	}
	
</script>