<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Panel</title>
</head>
<body>
    @RenderBody()
</body>
</html>

<style>
    *{
        box-sizing: border-box;
    }
    body,html{
        margin:0;
        padding:0;
        font-family: sans-serif;
    }
</style>