
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Blog</h1>

<section class="posts">
	@foreach (var post in Model){
        <div class="post">
            <h2>@post.Title</h2>
            <p>@post.Excerpt</p>
            <a href="/post/@post.Title.Replace(' ','-')">read more</a>
        </div>
    }
</section>
