@{
    Layout = "~/Views/Shared/_postManagerLayout.cshtml";
}
<div class="container mt-4">
    <!-- Botón de nuevo post -->
    <a href="/PostManager/new/post" class="btn btn-primary mb-3">New Post</a>

    <!-- Tabla de posts -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col" class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>@post.Title</td>
                    <td class="text-end">
                        <a href="/PostManager/edit/@post.Title.Replace(' ','-')" class="btn btn-warning btn-sm">Edit</a>
                        <button class="btn btn-danger btn-sm delete" data-post="@post.Title.Replace(' ', '-')">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    var deleteBtns = document.querySelectorAll(".delete");
    for (var deleteButton of deleteBtns) {
        deleteButton.onclick = function (ev) {
            var postTitle = deleteButton.getAttribute("data-post");
            console.log("Delete button clicked for: " + postTitle);

            fetch('/PostManager/post/delete', {
                method: 'DELETE',
                body: JSON.stringify(postTitle),
                headers: new Headers({
                    'Content-Type': 'application/json'
                })
            }).then((response) => {
                if (response.ok) {
                    console.log("Post deleted successfully");
                    // Aquí puedes eliminar el post visualmente
                } else {
                    console.log("Failed to delete post");
                }
            });
        }
    }
</script>
